doctype html
html(lang="en")
    head
        title= "Search Results for " + query
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        header
            div.logo
                a(href="/")
                    img(src="images/logo.png", alt="Site Logo")
            div.search-bar
                form(action="/search" method="get")
                    input(type="text", name="query", value=query, placeholder="Search...")
                    button(type="submit") Search
        main
            h1 Search Results for "#{query}"
            .product-list
                each product in products
                    .product-card
                        img(src=product.image_url, alt=product.name)
                        h3= product.name
                        p Price: $#{product.price}
                        a(href='/product/' + product.id) View Details
